/** {
  outline: 1px solid red !important;
}*/

:root {
  --neutral-900: hsl(243, 96%, 9%);
  --neutral-800: hsl(243, 27%, 20%);
  --neutral-700: hsl(243, 23%, 24%);
  --neutral-600: hsl(243, 23%, 30%);
  --neutral-300: hsl(240, 6%, 70%);
  --neutral-200: hsl(250, 6%, 84%);
  --neutral-0: hsl(0, 0%, 100%);
  --orange-500: hsl(28, 100%, 52%);
  --blue-500: hsl(233, 67%, 56%);
  --blue-700: hsl(248, 70%, 36%);
}
body {
  background-color: black;
  color: whitesmoke;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
}
.App {
  background-color: var(--neutral-900);
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
  max-width: 1200px;
}
.logo {
  width: 200px;
  height: 30px;
}
button {
  border: none;
  padding: 6px 8px;
  background-color: var(--neutral-800);
  color: var(--neutral-200);
  border-radius: 6px;
  cursor: pointer;
}
button:hover {
  background-color: var(--neutral-600);
}
button img {
  width: 10px;
  height: 10px;
  fill: var(--neutral-200);
}
.title {
  font-family: "Bricolage Grotesque", sans-serif;
  text-align: center;
  font-size: 3rem;
}
header {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 20px;
  box-sizing: border-box;
}
input:focus {
  outline: none;
}
.dropdown-header {
  position: absolute;
  right: 10%;
  top: 60px;
  background-color: var(--neutral-800);
}
.searchbox {
  display: flex;
  margin-top: 30px;
  justify-content: center;
  gap: 30px;
  font-size: 8px;
}
.searchbox input {
  padding: 8px;
  border-radius: 6px;
  border: none;
  background-color: var(--neutral-800);
  color: whitesmoke;
  width: 32%;
  cursor: pointer;
}
.searchbox button {
  padding: 8px 10px;
  color: whitesmoke;
  border: none;
  border-radius: 6px;
  background-color: var(--blue-700);
}
.weathericon {
  width: 100px;
  height: 100px;
}
.main-container {
  display: flex;
  font-family: "DM Sans", sans-serif;
  align-items: stretch;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  box-sizing: border-box;
  gap: 40px;
  margin: 0 auto;
}
.left-side {
  display: flex;
  flex-direction: column;
  font-size: 26px;
  flex: 2;
}

.current-weather {
  display: flex;
  flex-direction: column; /* Ovo slaže center-view i details vertikalno */
  gap: 20px;
  width: 100%;
}
.center-view {
  display: flex;
  justify-content: space-between; /* Grad lijevo, temperatura desno */
  align-items: center;
  padding: 40px;
  background-image: url("./assets/images/bg-today-large.svg");
  background-size: cover;
  background-position: center;
  border-radius: 12px;
}
.center-view h3 {
  margin-bottom: 0;
  margin-top: 50px;
}
.center-view p {
  font-size: 16px;
  color: var(--neutral-200);
  margin-bottom: 50px;
}
.temperature {
  display: flex;
  font-size: 80px;
  font-style: italic;
  font-weight: bolder;
  align-items: center;
}
.details {
  margin: 20px 0;
  display: flex;

  justify-content: space-between;
}
.details-item {
  width: 20%;
  background-color: var(--neutral-700);
  padding: 14px;
  border-radius: 10px;
}
.details-item p {
  font-size: 20px;
  color: var(--neutral-300);
  margin-top: 0;
}
.details-item span {
  font-size: 30px;
}
.hourly-forecast-header {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  padding: 6px;
}
.hourly-forecast-header select {
  background-color: var(--neutral-600);
  border-radius: 4px;
  font-size: 10px;
  color: var(--neutral-200);
  border: none;
  padding: 6px 4px;
  cursor: pointer;
}
.hourly-forecast-header option {
  border-radius: 10px;
}

.hourly-forecast {
  background-color: var(--neutral-800);
  display: flex;
  flex: 1;
  flex-direction: column;

  border-radius: 12px;
  padding: 10px;
}
.hourly-forecast p {
  margin-top: 16px;
  margin-bottom: 16px;
}
.hourly-forecast-list {
  overflow-y: auto;

  max-height: 580px;
}
/* cijeli scrollbar */
::-webkit-scrollbar {
  width: 4px;
}

/* pozadina (maknemo) */
::-webkit-scrollbar-track {
  background: transparent;
}

/* sama “crta” */
::-webkit-scrollbar-thumb {
  background-color: var(--neutral-600);
  border-radius: 10px;
}
.hourly-forecast-item {
  display: flex;
  background-color: var(--neutral-700);
  border-radius: 10px;
  margin-bottom: 16px;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
  font-size: 12px;
}
.hourly-forecast-item .left {
  display: flex;
  align-items: center;
  font-size: 20px;
}
.hourly-forecast-item .right {
  font-size: 16px;
}
.hourly-forecast-item img {
  width: 50px;
  height: 50px;
}
.dailyforecast-title {
  font-size: 20px;
}
.daily-forecast {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));

  gap: 10px;
  text-align: center;
  font-size: 16px;
}
.daily-forecast-item {
  background-color: var(--neutral-700);
  padding: 12px;
  padding-bottom: 0;
  padding-top: 0;

  border-radius: 10px;
}
.daily-forecast img {
  width: 60px;
  height: 60px;
}
.daily-forecast p {
  font-size: 18px;
  margin-top: 12px;
}
.daily-forecast .minmax {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 780px) {
  .app {
    width: 95%;
  }

  .searchbox {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
