* {
  outline: 1px solid red !important;
}
body {
  background-color: black;
  color: whitesmoke;
  align-items: center;
  box-sizing: border-box;
  width: 100%;

  padding: 0;
}
.App {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}
header {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
}
.dropdown-header {
  position: absolute;
  right: 20px;
  top: 60px;
  background-color: rgb(68, 67, 67);
}
.searchbox {
  display: flex;

  justify-content: center;
  gap: 20px;
}
button {
  background-color: rgb(68, 67, 67);
  color: whitesmoke;
  border: none;
}
.weathericon {
  width: 100px;
  height: 100px;
}
.main-container {
  display: flex;
  gap: 50px;

  max-width: 1400px;
  padding: 20px;
  box-sizing: border-box;
  width: 90%;
  margin: 0 auto;
}
.left-side {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 70%;
}
.current-weather {
  display: flex;
  flex-direction: column; /* Ovo slaže center-view i details vertikalno */
  width: 100%;
}
.center-view {
  display: flex;
  justify-content: space-between; /* Grad lijevo, temperatura desno */
  align-items: center;
  padding: 40px; /* Dodaj malo prostora unutar slike */
  background-image: url("./assets/images/bg-today-large.svg");
  background-size: cover;
  background-position: center;
}

.hourly-forecast {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.daily-forecast {
  display: flex;

  gap: 20px;
}
.daily-forecast img {
  width: 50px;
  height: 50px;
}
.details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  gap: 10px;
}
